* {
  box-sizing: border-box;
  margin-left: 10px;
}

img {
  width: 300px;
  height: 250px;
  border: 2px solid #213547;
  border-radius: 2px;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
}

.modal img {
  width: 600px;
  height: 500px;
}

.Gallery {
  display: flex;
  justify-content: center;
  width: 100vw;
  gap: 16px;
  flex-wrap: wrap;
  position: relative;
}
